.nav-container {
  background-color: rgb(117, 180, 181);
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  background-color: #2e5768;
  animation: 400ms linear both fade-in;
  margin-right: 0.25vw;
  padding: 1vh 4vw;
  display: flex;
  justify-content: center;
}

@for $i from 1 through 4 {
  .nav-item {
    &:nth-child(#{$i}) {
      animation-delay: $i * (30ms);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
