@import "../../variables.scss";

.nav-container {
  background-color: $nav-bg;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  background-color: $inactive-tab-color;
  animation: 300ms ease-in both fade-in-left;
  padding: 1vh 4vw;
  display: flex;
  justify-content: center;

  &-active {
    background-color: $active-tab-color;
  }
}

@for $i from 1 through 4 {
  .nav-item {
    &:nth-child(#{$i}) {
      animation-delay: $i * (30ms);
    }
  }
}