.nav-container {
  background-color: rgb(117, 180, 181);
  width: 100%;
  // padding: 2px;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
    background-color: #2e5768;
    animation: 0.5s ease-in-out both fade-in;
    margin: 0 1vw;
    padding: 1vh 4vw;
    display: flex;
    justify-content: center;
    // border-radius: 5px;
}

@for $i from 1 through 4 {
    .nav-item {
      &:nth-child(#{$i}) {
        animation-delay: $i * (.05s);
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(50%) scale(0);
    }
    
    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }