@import "../../variables.scss";

.footer-container {
    position: fixed;
    bottom: 0;
    background-color: $footer-color;
    width: 100%;
    padding: 0 1vw;
    padding-bottom: env(safe-area-inset-bottom, 0px);
}